- if user_signed_in?
  .row
    .filtered.tweet.span6
      %h3 Filtered
      - @tweets.each do |tweet|
        = render partial: "tweets/tweet", locals: { :tweet => tweet }

    .skipped.tweet.span6
      %h3 Unfiltered
      - @tweets.each do |tweet|
        = render partial: "tweets/tweet", locals: { :tweet => tweet }
- else
  .content please sign in to view your tweets
