- if user_signed_in?
  .row
    .filtered.tweets.span6
      %h3 Untrained
      - @tweets.each do |tweet|
        = render partial: "tweets/tweet", locals: { :tweet => tweet }
      = paginate @tweets

    .skipped.tweets.span6
      %h3 Trained
      - @trained_tweets.each do |tweet|
        = render partial: "tweets/tweet", locals: { :tweet => tweet }
- else
  .content please sign in to view your tweets

:javascript
  $.ajaxSetup({
    type: "POST",
    contentType: "application/vnd.tweetsecretary-v1+json"
  });

  function like(tweet_id, tweet_path) {
    $.ajax({
      url: tweet_path + 'like',
      success: function(data) {
        $('#tweet_' + tweet_id + ' a')
          .html('Dislike')
          .attr('onclick', "dislike('" + tweet_id + "', '" + tweet_path + "'); return false;");
      }
    });
  }

  function dislike(tweet_id, tweet_path) {
    $.ajax({
      url: tweet_path + 'dislike',
      success: function(data) {
        $('#tweet_' + tweet_id + ' a')
          .html('Like')
          .attr('onclick', "like('" + tweet_id + "', '" + tweet_path + "'); return false;");
      }
    });
  }
