- if user_signed_in?
  .row
    .filtered.tweet.span6
      %h3 Filtered
      - @tweets.each do |tweet|
        %p #{tweet.originator}: #{tweet.text}

    .skipped.tweet.span6
      %h3 Unfiltered
      - @tweets.each do |tweet|
        %p #{tweet.originator}: #{tweet.text}
- else
  .content please sign in to view your tweets
