.tweet {
    padding: 5px;

    .originator {
        font: {
            size: 1.1em;
            weight: bold;
        }
    }

    .actions {
        background-color: #08B;
        clear: both;
        color: white;
        display: block;
        padding: 1px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);

        a {
            color: white;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)
        }
    }
}

